<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.senac.pi.diskpizza" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".DiskPizzaActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Splash_ScreenActivity"
            android:label="@string/title_activity_splash__screen"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PedidoActivity"
            android:label="@string/title_activity_pedido"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".ContatoActivity"
            android:label="@string/title_activity_contato"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".SaboresActivity"
            android:label="@string/title_activity_sabores"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PromocoesActivity"
            android:label="@string/title_activity_promocoes"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
